<%= form_with(model: [company, claim]) do |f| %>
<%= f.label :content %>
<%= f.text_field :content %>
<%= f.submit %>
<% end %>

<ul id="company_claims">
    <% company.claims.each do |claim| %>
    <li><%= claim.content %></li>
    <% end %>
</ul>