<%#siendo la vista mas cercana para responder%>
<tr id="row_<%= company.id%>">
    <td id="company_<%= company.id %>"><%= company.name %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company), class:'edit_company', data: { remote: true } %></td>
    <td><%= link_to 'Destroy', company, class: 'delete_company', method: :delete, data: { remote: true } %></td>
</tr>