<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<%# link_to 'Edit', edit_company_path(@company) %> 
<%# link_to 'Back', companies_path %>

<%= form_with(model: [@company, Claim.new]) do |f| %>
  <%= f.text_area :content, placeholder: 'Escribe tu reclamo aquí...', id: :text %>
  <%= f.submit 'Comentar', class:''%>
<% end %>

<div id="claims">
  <ol>
    <%@claims.each do |claim| %>
      <% if (@company.id == claim.company_id) %>
      <li><%= claim.created_at %>  <%= claim.content %></li>
      <% end %>
    <% end %>
  </ol>
</div>